<mat-toolbar color="primary">
  Ticket Tracker

  <div class="main-nav-container">
      <a class="main-nav-item" routerLink="/dashboard"><button mat-flat-button color="primary">Home</button></a>
      <a class="main-nav-item" routerLink="/project"><button mat-flat-button color="primary">Project</button></a>
      <a class="main-nav-item" routerLink="/tickets"><button mat-flat-button color="primary">Tickets</button></a>
  </div>

  <span class="fill-space"></span>

  <button mat-button [matMenuTriggerFor]="extLinks">Docs</button>
  <mat-menu #extLinks="matMenu">
      <a mat-menu-item target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
      <a mat-menu-item target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a>
      <a mat-menu-item target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
  </mat-menu>
</mat-toolbar>

<app-messages></app-messages>

<div class="main-container">
  <router-outlet></router-outlet>
</div>